
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Delete</title>
</head>
<body>
    <div>
        <form method="post" action="~/Dict/DeleteSave">
            <label>id for deleting</label>
            <br />
            <input type="number" name="id" min="1" step="1" id="id" />
            <br />
            <input type="submit" value="Submit" />
        </form>
    </div>
</body>
</html>


