
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Update</title>
</head>
<body>
    <div>
        <form method="post" action="~/Dict/UpdateSave">
            <label>id</label>
            <br />
            <input type="number" min="1" step="1" name="id" id="id" />
            <br />
            <label>new surname</label>
            <br />
            <input type="text" name="surname" id="surname" />
            <br />
            <label>new phone number</label>
            <br />
            <input type="tel" name="phoneNumber" id="phoneNumber" placeholder="+375xxxxxxxxx" />
            <br />
            <input type="submit" value="Submit" />
        </form>
    </div>
</body>
</html>
